pre {
	background: none;
	padding: 0;
}

.container {
	padding-bottom: 50px;
}

nav.primary {
	background-color: #fff;
	margin-bottom: 40px;
}

nav.primary > .container {
	padding: 0;
}

nav.primary ul {
	margin: 0;
	padding-left: 0;
	text-align: center;
}

nav.primary ul > li {
	display: inline-block;
	font-size: 12px;
	line-height: 45px;
	list-style: none;
	margin-left: 40px;
	padding: 0 20px;
	text-align: center;
	white-space: nowrap;
}
nav.primary ul > li:first-child {
	margin-left: 0;
}

nav.primary ul > li.active {
	border-bottom: 3px solid #434343;
	font-weight: bold;
}

nav.primary ul > li > a {
	color: #434343;
}

nav.primary ul > li > a:hover {
	color: #434343;
	text-decoration: none;
}

.alert {
	padding-left: 70px;
	position: relative;
}

.alert .icon {
	font-size: 40px;
	left: 15px;
	line-height: 40px;
	position: absolute;
	top: 20px;
}

.tags {
	line-height: 1.6em;
	padding: 0;
}

.tags > li {
	display: inline;
	list-style: none;
	white-space: nowrap;
}

.tags > li > a {
	background-color: #484850;
	border: solid 1px #323338;
	border-radius: 3px;
	color: #fff;
	font-size: 0.8em;
	padding: 1px 5px;
}

.tags a.btn {
	cursor: pointer;
	margin-bottom: 3px;
	padding: 2px 5px;
}

.tags a.btn > span {
	color: #ccc;
	font-size: 0.7em;
}

.panel-body {
	padding-bottom: 5px;
}

.panel-body:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tag-cloud .btn { line-height: 2.2rem; }
.tag-cloud-2 { font-size: 1.1em; }
.tag-cloud-3 { font-size: 1.2em; }
.tag-cloud-4 { font-size: 1.3em; }
.tag-cloud-5 { font-size: 1.4em; }
.tag-cloud-6 { font-size: 1.5em; }
.tag-cloud-7 { font-size: 1.6em; }
.tag-cloud-8 { font-size: 1.7em; }
.tag-cloud-9 { font-size: 1.8em; }
.tag-cloud-10 { font-size: 1.9em; }

ul.results-list {
	padding: 0;
}

ul.results-list > li {
	min-height: 90px;
	list-style: none;
	margin-bottom: 10px;
	padding-left: 75px;
	position: relative;
}

ul.results-list h2 > a {
	font-size: 1.5em;
}

.author {
	float: right;
	padding-left: 5px;
	text-align: right;
}

.author,
.author > a,
.author > span,
.author > a > span {
	font-size: 11px;
}

.question-container {
	position: relative;
}

.question {
	padding-left: 75px;
}

hr {
	border-top: solid 1px #cbcbcb;
}

.answers {
	padding: 0;
}

.answers > li {
	list-style: none;
	position: relative;
}

.answers > li > article {
	padding: 10px 10px 10px 70px;
}

.answers footer > h5 {
	clear: both;
}

.answer {
	padding-bottom: 16px;
}

.accepted-answer {
	background-color: #d4ffba;
	border: solid 1px #87c457;
}

.accepted-answer h2 {
	color: #579333;
	font-size: 18px;
	margin-top: 0;
}

.accepted-answer h2 > span.icon-bg {
	color: #579333;
	font-size: 24px;
	font-weight: bold;
}

.comments {
	padding: 0;
}

.comments > li {
	border-bottom: solid 1px #cbcbcb;
	list-style: none;
	padding: 5px;
}

.comments > li:first-child {
	border-top: solid 1px #cbcbcb;
}

.comments > li:nth-child(odd) {
	background-color: #f7f7f7;
}

.comments > li:nth-child(even) {
	background-color: #efefef;
}

.comments > li > p {
	margin: 0;
	padding-bottom: 3px;
}

.comments > li > p > code {
	padding: 0;
}

.comments .author {
	float: none;
	text-align: right;
}

.comment div,
.comment p,
.comment code {
	font-size: 11px !important;
}

.accepted-answer .comments > li {
	border-bottom: solid 1px #87c457;
}

.accepted-answer .comments > li:first-child {
	border-top: solid 1px #87c457;
}

.accepted-answer .comments > li:nth-child(odd) {
	background-color: #e6ffd7;
}

.accepted-answer .comments > li:nth-child(even) {
	background-color: #efffe6;
}

.vote-box {
	background: #f7f7f7;
	border: solid 1px #cbcbcb;
	border-radius: 3px;
	color: #666;
	left: 10px;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
}

.vote-box-answered {
	background: linear-gradient(to bottom, #8ecb5d 0%,#69c419 100%);
	border: solid 1px #649041;
	color: #fff;
}

.answers .vote-box {
	top: 10px;
}

.vote-box > div {
	font-size: 0.8em;
}

.vote-box > div > span {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

.vote-box-answered > div {
	text-shadow: 1px 1px 1px #333 !important;
}

.vote-box-answered > div > span {
	text-shadow: 1px 1px 1px #333 !important;
}

.preview {
	overflow: hidden;
	margin-bottom: 10px;
}

.controls {
	line-height: 32px;
	margin: 30px 0 0;
	position: relative;
}

header.controls {
	margin: 0px 0;
}

footer.controls > p {
	position: absolute;
}

footer.controls > nav {
	text-align: right;
}

@media (min-width: 1200px) {
	footer.controls > nav {
		text-align: center;
	}
}

.top-experts {
	list-style: none;
	padding: 0;
}

.top-experts > li {
	line-height: 20px;
}

.top-experts > li > .rank {
	color: #aaa;
	display: inline-block;
	font-size: 0.9em;
	padding-right: 3px;
	text-align: right;
	width: 15%;
}

.top-experts > li > a {
	font-weight: bold;
}

.profile-pic {
	border: 1px solid #cbcbcb;
	border-radius: 4px;
	height: 100px;
	width: 100px;
}

ul.profile {
	padding: 0;
}

ul.profile > li {
	list-style: none;
}

ul.profile > li > dl {
	margin: 0;
}

ul.profile > li > dl > dt {
	display: inline-block;
	line-height: 22px;
	width: 100px;
}

ul.profile > li > dl > dd {
	display: inline-block;
	line-height: 22px;
	font-weight: normal;
}

ul.certifications {
	padding: 0;
}

ul.certifications > li {
	display: inline;
	list-style: none;
}

ul.certifications > li > img {
	padding: 0 10px 10px 0;
}

.experts {
	margin: 0 auto;
	width: 600px;
}

.experts td,
.experts a {
	font-size: 16px;
	line-height: 32px !important;
}

.experts img {
	height: 32px;
	width: 32px;
}

.hljs {
	color: #fff !important;
}

.copyright {
	color: #666;
	font-size: 11px;
	padding: 35px 0 5px 15px;
}

.copyright > a {
	font-size: 11px;
}
